// any css libraries we want from bower up here
@import 'normalize';
@import "bootstrap";

// sass partials here
@import 'variables';
@import 'fonts';

body {
  text-align: center;

  margin-top: 3em;
}

.joinGame {
  transition: all 0.4s;
  color: inherit;
  padding: 15px 20px 16px;
  vertical-align: top;
  cursor: pointer;
  border: 1px solid #fff;
  border-radius: 3px;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-animation: fadein 2s;
  -ms-animation: fadein 2s;
  animation: fadein 2s;
  text-shadow: none;
  color: #333;
  background-color: #fff;
  font-size: 22px;
}