// any css libraries we want from bower up here
@import 'normalize';
// @import "bootstrap";

// sass partials here
@import 'variables';
@import 'fonts';

body {
  text-align: center;

  -webkit-font-smoothing: antialiased;

  height:100%; 
  overflow:hidden; 
}

.background .far{
  position: absolute;

  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  z-index: -3;

  // padding: 118px 0 222px 0;
  text-align: center;
  background-color: #1f1d20;
  background-image: -webkit-gradient(radial,center center,0,center center,460,from(#584860),to(#1f1d20));
  background-image: -webkit-radial-gradient(circle,#584860,#1f1d20);
  background-image: -moz-radial-gradient(circle,#584860,#1f1d20);
  background-image: -o-radial-gradient(circle,#584860,#1f1d20);
  background-repeat: no-repeat;
}
.background .dots{
  position: absolute;

  background-image: url("../img/background.png");
  background-repeat: repeat;
  background-position: center;
  background-attachment: fixed;

  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  z-index: -2;
}

.game-container {
  margin: 2em auto 0;
  width: 1000px;
  height: 800px;
  padding: 0;
  position: relative;
}

#canvas {
  position: absolute;
  background-color: #F7F7F7;
  top: 0;
  left: 0;
}

.playerCount {
  position: absolute;

  font-family: 'Oswald', sans-serif;

  font-size: 16px;

  color: #F7F7F7;

  right: 10px;
  top: 6px;
}

.stats {
  position: absolute;

  left: 8px;

  color: #F7F7F7;

  font-family: 'Oswald', sans-serif;

  font-size: 16px;

  top: 6px;
}
.losses {
  top: 28px;
}

.topTPATitle {
  color: #F2F2F2;
  letter-spacing: 2px;
  font-size: 1.2em;

  opacity: 0.5;

  width: 6em;

  position: absolute;
  margin-left: auto;
  margin-right: auto;

  left: 0;
  right: 0;
  top: .25em;

  transition: all 0.4s;
}
.topTPATitle:hover {
  opacity: 0.7;

  cursor: pointer;
}

.gameSearcher {

  font-family: 'Oswald', sans-serif;

  position: absolute;
  height: 400px;
  width: 600px;
  top: 200px;
  left: 200px;
  
  margin: 0 auto;


  border: 1px solid #fff;
  border-radius: 3px;

  // padding: 118px 0 222px 0;
  text-align: center;
  background-color: #1f1d20;
  background-image: -webkit-gradient(radial,center center,0,center center,460,from(#584860),to(#1f1d20));
  background-image: -webkit-radial-gradient(circle,#584860,#1f1d20);
  background-image: -moz-radial-gradient(circle,#584860,#1f1d20);
  background-image: -o-radial-gradient(circle,#584860,#1f1d20);
  background-repeat: no-repeat;

  box-shadow: 0 0 70px rgba(90,80,155,0.6);

  .afkMessageDisplay {
    display:none;

    margin: auto;

    color: #F2F2F2;

    text-decoration: none;
    text-shadow: none;

    font-size: 18px;
  }

  .statusText {
    display:none;

    margin: auto;
    margin-top: 34px;

    color: #F2F2F2;

    text-decoration: none;
    text-shadow: none;

    font-size: 26px;
  }

  .nameInput {
    font-size: 20px;
    outline: none;
    border: none;

    margin: auto;
    margin-top: 1.3em;
    margin-bottom: 1.3em;
    width: 14em;

    font-family: "Verdana", Sans-serif;

    padding: 6px 6px;

    border-radius: 3px;

    transition: all 0.4s;
  }
  .nameInput:focus {
    box-shadow: 0 0 15px rgba(255,255,255,0.5);
  }

  .joinGame {
    width: 7em;

    margin: auto;
    margin-top: 134px;

    transition: all 0.4s;

    padding: 15px 20px 16px;

    border: 1px solid #fff;
    border-radius: 3px;

    text-decoration: none;

    -webkit-tap-highlight-color: transparent;
    -webkit-animation: fadein 2s;
    -ms-animation: fadein 2s;
    animation: fadein 2s;

    text-shadow: none;
    color: #333;
    background-color: #fff;
    font-size: 26px;
  }
  .joinGame:hover {
    cursor: pointer;

    box-shadow: 0 0 50px rgba(255,255,255,0.3);
  }
  .joinGame:active {
    cursor: pointer;

    box-shadow: 0 0 50px rgba(255,255,255,0.15);
  }

  .waitAnimation {
    display: none;
    position: relative;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;

    background-color: white;
    border-radius: 50%;
    
    &:after {
      content: '';
      position: absolute;

      border-radius: 50%;
      top: 50%;
      left: 50%;

      border: 0px solid #584860;
      transform: translate(-50%, -50%);
      animation: loading 950ms ease-out forwards infinite;
    }
    
  }

  @keyframes loading {
    0% {
      border: 0px solid #584860;
    }
    
    20% {
      border: 8px solid #584860;
      width: 0%;
      height: 0%;
    }
    // } letter-spacing: 2px;
    
    100% {
      border: 8px solid #584860;
      width: 100%;
      height: 100%;
    }
  }
}