<noscript>
  alert("Please enable javascript to play this game.");
</noscript>

<div class="background">
  <div class="far"></div>
  <div class="dots"></div>
</div>

<a href="http://tpa.gg">
  <div class="topTPATitle">tpa.gg</div>
</a>

<div class="playerCount">Loading...</div>
<div class="wins stats">Wins: ?</div>
<div class="losses stats">Losses: ?</div>

<div class="game-container">
  <canvas id="canvas" width="1000" height="800"></canvas>
  <div class="gameSearcher">
    <div class="waitAnimation"></div>
    <div class="statusText">
      Play a game :)
    </div>

    <div class="joinGame">
      Find a Game
    </div>
    <input class="nameInput" placeholder="Enter a name and click ^^"/>
    <div class="afkMessage">
      Kicked for inactivity. If this continues your IP will be flagged.
    </div>
  </div>
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-48092598-5', 'auto');
  ga('send', 'pageview');

</script>

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- tpa.gg bottom -->
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-7520943130904146"
     data-ad-slot="1878680160"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>