{{!-- welcome to the homepage --}}

<noscript>
  alert("Please enable javascript to play this game.");
</noscript>

<canvas id="canvas" style="border:1px solid #000000;">
</canvas>

<div id="joinGame">click this text just do it</div>