<div class="background">
  <div class="far"/>
  <div class="dots"/>
</div>

<noscript>
  alert("Please enable javascript to play this game.");
</noscript>

<div class="gameFrame">
  <canvas id="canvas" width="1000" height="800"></canvas>
  {{!-- <div class="messageText">Loading...</div> --}}
</div>

<div class="joinGame">Find a Game</div>