<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <title>tpa</title>

    <link rel='icon' type='image/png' href='/assets/img/favicon.png' />

    <link rel='stylesheet' href='/assets/css/main.css'>
    <script src='/assets/js/main.js'></script>

    <!-- game files - please help me make this prettier -->
    <script src='/assets/game/scripts/game.js'></script>
    <script src='/assets/game/scripts/index.js'></script>
    <script src='/assets/game/scripts/draw.js'></script>
    <script src='/assets/game/scripts/inputs.js'></script>
    <script src='/assets/game/scripts/bullet.js'></script>
    <script src='/assets/game/scripts/player.js'></script>
    <script src='/assets/game/scripts/particle.js'></script>
    <script src='/assets/game/scripts/constants/index.js'></script>

    <script src="/socket.io/socket.io.js"></script>

  </head>
  <body>
    {{{ body }}}
  </body>
</html>
